extends layout 
block append content 
    h1.centerText Case Study
    .leftRightGrid
        .rightSide
            img.width40vw(src = '/images/ranaplaza.webp')
        .leftSide 
            h2.centerText Case Study: Rana Plaza in Bangladesh
            p.JustifyText To dive deeper into the problems of political infrastructure where the clothes are made, we can look into one specific incident that occured not too long ago in 2013 in Bangladesh. The Rana Plaza building collapse was the worst garment factory disaster in history, killing more than 1,000 workers. Bangladesh has also become one of the world's biggest exporter of cheap clothing while offering the lowest wages for their workers. 
            p.JustifyText Sohel Rana and the other owners of the buildings had been arrested. The people of Bangladesh were protesting and pushing for the death penalty for the most hated man in the city. While this never happened, he actually died of COVID-19 in 2020.

            h2.centerText Will people listen to the survivors's stories? 
            p.JustifyText The survivors of the horrible Rana Plaza incident recount their memories 
            ul
                li Shiuli Begum was 26 years old when she got crushed under the falling building. She was in good health until that day. She can now no longer get up on her own or even use the bathroom as her spinal cord was crushed in the accident. 
                li Mahmadul Hridoy was 32 years old when his legs got crushed beneath the cement blocks. He can no longer walk without help. He remembers seeing the crushed skull of his friend beside his. 
                li Several survivors committed suicide following the accident. 