extends layout 
block append content 
    h1.centerText End Of Life
    .leftRightGrid
        .leftSide
            img.width40vw(src = '/images/trashOutside.jpg')
        .rightSide 
            h2.centerText Recycling Infrastructure
            ul
                li Textile recycling is only available in urban areas. 
                li Clothing must be mixed with plastic and chemicals in order to be made into quality clothing.
                li No one wants old low quality clothing-- not even thrift shops. 
                li Very little clothing that is brought to recycling in America is actually recycled. 
                li On a positive note: 60% of the world’s clothing is made out of polyester, a material made from oil. By using recycled textiles, people can limit their dependence on fossil fuels.

            h2.centerText Example with Patagonia
            ul 
                li Patagonia claims that by limiting their dependence on raw items and by using plastic in their recycled clothing line, they are decreasing the amount of carbon emissions that they release. 
                li They also admit that less than 1% of all used clothing is actually recycled because the infrastructure is simply not there—there is still room to fix this number. 
                li Patagonia also explains that they must mix their recycled cotton with plastic or polyester in order to make it more durable. 
            
            h2.centerText Is this recycled clothing plan good for the environment and for your skin?
            ul 
                li Environment: Most clothing that is recycled with plastic release microplastics into the ocean everytime they are put through the wash cycle. It is possible to prevent this by washing clothing in microplastic bag catchers, however, without this, recycled clothing can still contribute to microplastics in the ocean.
                li Skin/ Body: Recycled plastic clothing is not the best material for your skin, however it largely depends on the quailty and the type of materials that are recycled together: like wool and plastic bottles or polyester with polyester. 