extends layout 
block append content 
    h1.centerText Fast Fashion 
    .leftRightGrid
        .leftSide
            h2.centerText Where did fast fashion come from?
            p.justifyText Before fast fashion, clothing had to be sourced and most of the time handmade, but after sewing machines and large factories came about, clothing was able to be produced at a faster rate. Clothes in turn also became cheaper and because of the speed that trends started changing, they had to be done quicker and so became lower quality. Fast fashion really started emerging in the 1990s and 2000s when online shopping came to be and everyone wanted to have the same looking clothing as those that were in fashion magazines right away. 

            h2.centerText Why is fast fashion bad?
            ul 
                li Fast fashion is wasteful--more than 10 million tons of textile waste end up in landfills every year. 
                li Because of the little time that the clothing must be made in, they are low in quality. Some brands are even known to lower the quality of their garments on purpose in order to get consumers to constantly buy more.
                li The end of life of garments are a big problem.
        .rightSide 
            img.width40vw(src="/images/clothing.jpeg", alt="clothing")
            
