extends layout 
block append style 
    link(rel='stylesheet' href='/css/home.css')
block append content 
    h1.centerText Infrastructural Problems with Fast Fashion: Treating the People and the Environment with Care
    #picGrid
        .picCapt
            img(src="/images/FastFashion.webp", alt="Fast Fashion")
            h2.centerText Fast Fashion
            p.justifyText Fast fashion is cheap, trendy clothing with designs that are copied from major runway brands and brought to consumers at incredible speed. They are meant to be worn for only a few years, so they are bad in quality, and then simply thrown away. 
        .picCapt
            img(src="/images/trash.jpg", alt="End of Life")
            h2.centerText End of Life of Garments
            p.justifyText Clothing doesn’t last forever, especially those of fast fashion garments, so what should you do when your clothes start to fall apart, or you just want to get rid of it? It is important to know what to do with your unwanted clothing. People generally sort their unwanted clothes into different piles: sell, donate and trash. But your clothing still might not end up going where you think. 
        .picCapt 
            img(src="/images/factoryWorkers.jpg", alt="Workers")
            h2.centerText Political Infrastructure
            p.justifyText This is a broad term that defines the interaction between certain groups and the power that they have over each other. In relation to fast fashion, it looks at how much influence that the factory workers in garment shops have over their work conditions. 
        .picCapt 
            img(src="/images/recycleClothing.jpg", alt="Recycling")
            h2.centerText Solutions to Textile Waste
            p.justifyText Because there is a solution to every problem, we can try to fix textile waste. We can research what different organizations are doing to help and what individuals can do on their own and the changes that need to happen within the system. 
