doctype html 
html 
    head 
        title Nilu's Website 
        block style 
            link(rel='stylesheet' href='/css/default.css')
        block script 
            script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
            script(src="/js/default.js") 
    body
        header 
            p by: nilufer ece bozkan
            nav 
                a(href="/") home
                a(href="/fastFashion") fast fashion
                a(href="/endOfLife") end of life 
                a(href="/politicalInfrastructure") political infrastructure
                a(href="/solutionsToWaste") solutions
                a(href="/caseStudy") case study 
                a(href="/sources") sources
        #content
            block content