extends layout 
block append content
    h1.centerText Political Infrastructure
    .leftRightGrid 
        .rightSide 
            img.width40vw(src = '/images/buildingCollapse.jpg')
        .leftSide 
            p.JustifyText There is little to no political infrastructure for workers or people that work in horrible conditions. They dont have any where to go to ask for higher pay or better working conditions. Protests happen regularly but does not help, there are simply no government regulations in the countires that produce cheap clothing with cheap labor. 
            p.JusitfyText Even after the Rana Plaza incident, discussed further in the case study, not much has changed. One of the problems is that these companies have tons of customers and tons of support, they have no reason to change the way they produce their clothing unless there is real pressure from the people that buy their products. 
            