extends layout 
block append content 
    h1.centerText Solutions To Waste
    .leftRightGrid
        .leftSide
            img.width40vw(src = '/images/sockWithHole.jpeg')
        .rightSide 
            h2.centerText Preventative Solutions
            ul
                li Simply put, keep wearing your clothing and don't shop a new wardrobe every season.
                li Invest in high quality clothing that will last a long time. 

            h2.centerText What to do if you no longer want your clothes
            ul 
                li If the clothing is in good shape, try selling or giving to a friend or family member who will wear it.
                li Try repurposing into rags
                li Last resort: recycle if absolutely necessary--some clothing may get repurposed if the color or quality isn't right or simply thrown away.

            h2.centerText New vs. Buying Used
            p.justifyText It is still better to buy used than new: 
            ul 
                li To make a simple cotton t-shirt, it takes about 3,000 liters of water from start to finish.
                li To recycle a cotton t-shirt, it takes 88% less water than virgin resources. 