extends layout 

block append content 
    h1.centerText Sources
    p.JustifyText Websites: 
    p.JustifyText https://www.earthisland.org/journal/index.php/articles/entry/recycled_plastic_clothing_solution_or_threat/ 

    p.JustifyText https://www.westonaprice.org/health-topics/environmental-toxins/clothes-damaging-health/ 

    p.JustifyText https://www.patagonia.com/why-recycled/ 

    p.JustifyText https://www.greenamerica.org/unraveling-fashion-industry/what-really-happens-unwanted-clothes 

    p.JustifyText https://ehjournal.biomedcentral.com/articles/10.1186/s12940-018-0433-7 

    p.JustifyText https://goodonyou.eco/what-is-fast-fashion/ 
    p.JustifyText https://www.nytimes.com/2013/05/23/world/asia/report-on-bangladesh-building-collapse-finds-widespread-blame.html 
    p.JustifyText https://www.nytimes.com/2018/04/24/style/survivors-of-rana-plaza-disaster.html 
    p.JustifyText https://www.tbsnews.net/coronavirus-chronicle/covid-19-bangladesh/rana-plaza-owner-dies-covid-19-88660 
