html, body {
    height: auto;
    min-height: 100vh;
}

body {
    --fontFamily: "-apple-system-caption1";
    font-family: var(--fontFamily);
    margin: 0;

}

header {    
    display: flex;
    padding: .75em;
    border-bottom: solid rgb(0, 0, 0) 0.5em;
    background-color: darksalmon;
}

nav {
    margin: auto 1em auto auto; 
}

a {
    margin:auto 1em;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    background-color: rgb(214, 139, 114);
}

#content {
    margin: 3vh 2vw;
}

.centerText {
    text-align: center;
}

.justifyText {
    text-align: justify;
}

.active {
    text-decoration: underline;
}

.leftRightGrid {
    display: grid;
    grid-template-areas: "left right";
    column-gap: 10vw;
}

.leftSide {
    grid-area: left;
    max-width: 40vw;
}

.rightSide {
    grid-area: right;
    max-width: 40vw;
}

.width40vw {
    width: 40vw;
}