#picGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5vh;
}

.picCapt {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 0 auto;
}

.picCapt > img {
    height: 30vh;
    width: 20vw;
}

.picCapt > p,h2 {
    margin: 1px;
}